<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="Acuse.php" method="post">
		<p>Selecione el dia inicial de inscripciones</p>
		<input type="number" name="di" id="di"
                min="1" max="31" step="1" value="1">               
                 <p>Selecione el mes inicial de inscripciones</p>
		<input type="number" name="mi" id="mi"
                min="1" max="12" step="1" value="1"><br>

		<p>Selecione el dia final de inscripciones</p>
		<input type="number" name="df" id="df"
                min="1" max="31" step="1" value="1"><br>
                <p>Selecione el mes final de inscripciones</p>
		<input type="number" name="mf" id="mf"
                min="1" max="12" step="1" value="1"><br>
		<button type="submit">Guardar</button>
	</form>
	
</body>
</html>